<template name="ApplicationLayout">

    <head>
        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <header>
        <nav>
            <div class="nav-wrapper light-blue darken-3">
                <div class="container">
                    <div class="brand-logo">Meteor Chat</div>
                    <ul class="right">
                        <li><a href="/">Home</a></li>
                        <li>{{> loginButtons }}</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="row">
            <div class="col m4 l3 light-blue sidenav">
                <h1 class="white-text">Chat Rooms</h1>
                <div class="card-panel key">
                    <h5>Commands</h5>
                    <p>You can use " /tell 'user' 'message' " to send a private message.</p>
                </div>
                <div class="card-panel">
                    <h5>New Chat Room</h5>
                    <form class="create-room">
                        <div class="input-field ">
                            <input id="name" type="text" class="validate">
                            <label class="active" for="name">Name</label>
                        </div>
                        <button class="btn waves-effect waves-light light-blue darken-1" type="submit" name="action">Create
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
                {{#each chatRooms}} {{>chatroom}} {{/each}}

            </div>
            <div class="col m8 l9 chatroom-wrapper">
                {{> yield}}
            </div>
        </div>
    </main>
</template>

<template name="chatroom">
    <div class="card-panel">
        {{name}}
        <br>Users: {{users}}
        <div class="btn right light-blue darken-1 join-room">Join</div>
    </div>
</template>