<template name="chat">
    <div class="row" id="chat-box">
        {{#each this}} {{#unless private}} {{#if isYou}}
        <div class="card-panel light-blue lighten-4" id="chat">
            {{getUsername}}: {{content}}
        </div>
        {{else}}
        <div class="card-panel orange lighten-4" id="chat">
            {{getUsername}}: {{content}}
        </div>
        {{/if}} {{else}}
        <div class="card-panel pink lighten-4" id="chat">
            {{getUsername}}: {{content}}
        </div>
        {{/unless}} {{/each}}
    </div>
    <div class="row valign-wrapper" id="message-box">
        <form class="col s12 message-form">
            <div class="row">
                {{#if currentUser}}
                <div class="input-field col s12">
                    <i class="material-icons prefix">mode_edit</i>
                    <input id="new_message" type="text" length="120" name="message">
                    <label for="new_message">New Message</label>
                </div>
                {{else}}
                <h3 class="center">Please login to begin sending messages.</h3> {{/if}}
            </div>
        </form>
    </div>
</template>